include ../../../node_modules/bemto.jade/bemto.jade
include ../page/page
include ../header/header
include ../nav/nav
include ../footer/footer
include ../scripts/scripts


doctype html
html(lang='eng')
	include ../head/head
	+page
		+header(id='header' data-anchor='header')
		+nav(id='nav' data-anchor='nav')
		block content
		+footer
		+scripts(['app.min.js'])
