$farray = Farray, sans-serif
$opensans = 'Open Sans', sans-serif

@font-face
	font-family 'Farray'
	src local('Farray'),
		url('../fonts/farray-webfont.woff2') format('woff2'),
		url('../fonts/farray-webfont.woff') format('woff')
	font-weight 400
	font-style normal
