

mixin sale()
	+b('section').sale&attributes(attributes)
		+e.letters
			+e.letters-column Sl
			+e.letters-column_right ae
		+e.wrapper
			+e('article').column
				+e.expo
					+e('a').price(href='#{jv0}' title='Sale product') $680.00
				+e.frame
					+e('a').article-link(href='#{jv0}' title='Sale product') More
					+e.text
						+e('h4').article-title Beach teen sunglases
						+e('p').article-subtitle
							| Collection featuring materials<br>
							| Metal &amp; Polycarbonate Frames
			+e('article').column_right
				+e.expo_right
					+e('a').price(href='#{jv0}' title='Sale product') $890.00
				+e.frame_right
					+e('a').article-link(href='#{jv0}' title='Sale product') More
					+e.text
						+e('h4').article-title Luxberry sunglases
						+e('p').article-subtitle
							| Distortion Free 100% UVA/UVB
						+e('p').article-subtitle
							| Safe Lenses
