

mixin art()
	+b('section').art&attributes(attributes)
		+e.wrapper
			+e.column_first
				+e.info_first
					+e('a').link(href='#{jv0}' title='Art item')
						+e('h3').title_first woolenart
						+e('p').subtitle_first
							| The muffler is a flexible piece
							| of garment which can be
							| wrapped around your neck.
			+e.column_second
				+e.info_second
					+e('a').link(href='#{jv0}' title='Art item')
						+e('h3').title_second sweetfash
						+e('p').subtitle_second
							| Sweets is the best things
							| in every situation of our life.

			+e.column_third
				+e.info_third
					+e('a').link(href='#{jv0}' title='Art item')
						+e('h3').title_third jewelaura
						+e('p').subtitle_third
							| Laura mitchel make new
							| jewellery collection only
							| for soft and young  girls.

