

mixin wanted()
	+b('section').wanted&attributes(attributes)
		+e.letters
			+e.letters-column Mswne
			+e.letters-column_right otatd
		+e.wrapper
			+e.column_first
				+e('figure').product_bag
					+e('img').image_bag(src='assets/images/img_bag.png' alt='Zebrabaggy')
					+e.frame_bag
					+e('figure').product_hover
						+e('img').image_hover._full(src='assets/images/img_bag_hover.png' alt='Zebrabaggy')
						+e.frame_hover
				+e('a').link(href='#{jv0}' title='Product link') Zebrabaggy
			+e.column_second
				+e('figure').product_shirt
					+e('img').image_shirt(src='assets/images/img_shirt.png' alt='Fontshirt')
					+e.frame_shirt
					+e('figure').product_hover
						+e('img').image_hover(src='assets/images/img_shirt_hover.png' alt='Fontshirt')
						+e.frame_hover
				+e('a').link(href='#{jv0}' title='Product link') Fontshirt
			+e.column_third
				+e('figure').product_jacket
					+e('img').image_jacket(src='assets/images/img_jacket.png' alt='Peachjacket')
					+e.frame_jacket
					+e('figure').product_hover
						+e('img').image_hover(src='assets/images/img_jacket_hover.png' alt='Peachjacket')
						+e.frame_hover
				+e('a').link(href='#{jv0}' title='Product link') Peachjacket
			+e.column_fourth
				+e('figure').product_jeans
					+e('img').image_jeans(src='assets/images/img_jeans.png' alt='Ripjeans')
					+e.frame_jeans
					+e('figure').product_hover
						+e('img').image_hover(src='assets/images/img_jeans_hover.png' alt='Ripjeans')
						+e.frame_hover
				+e('a').link(href='#{jv0}' title='Product link') Ripjeans
