

mixin musthave()
	+b('section').musthave&attributes(attributes)
		+e.column_left
		+e.column_right
			+e.letters
				+e.letters-column Mshv
				+e.letters-column_right #[span U]tae
			+e.text
		+e('a').link(href='#{jv0}' title='Must have goods')
			+e('h2').title Be j#[span eans]
			+e('p').desc
				| You can’t imagine your life without
				| favourite pair of jeans.<br>
				| Get a new one. Be cool. Be jeans.

