

mixin collection()
	+b('section').collection&attributes(attributes)
		+e.inner
			+e.text
				+e('h2').title Tender girls
				+e('p').desc
					| Saturday nights to Monday morning vibes
					| we all need those go to clothes that keep
					| us looking fresh in any situation.
					| Our TENDER GIRLS collection for women
					| understands this and has got you to season.
				+e('a').link(href='#{jv0}' title='New collection') #[span New collection] #[span]
			+e.promo
				+e.letters
					+e.letters-column Cleto
					+e.letters-column_right #[span o]lc#[span i]n

